<?xml version="1.0" encoding="UTF-8"?>

<!-- xml파일이란? 
	: 서로 다른 파일간의 데이터를 전달하고 저장하는 데이터 구조를 기술하기 위한 파일
-->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 1) dtd : document type definition -->
  
  
  
<configuration>

	<typeAliases>
	<!--
		사용자 정의 자료형의 풀네임이 너무 길었을 때 별칭을 부여할 수 있다.
		ex) com.smhrd.model.WebMember >>> WebMember
	-->	
	
		<typeAlias type="com.smhrd.model.WebMember" alias="WebMember"/>
	</typeAliases>


<!-- 2) database 연결과 관련된 정보를 기술하는 곳 -->
  <environments default="development">
  <!-- default라는 건 : environment의 id값을 기준으로 잡아주는 것
  		database connection이 여러개 였을 때 어떤 값을 기본 값으로 잡아줄 것인지
   -->
    <environment id="development">
    <!-- 3) 트랜잭션 관리자를 생성 : type
    	 3-1) type : JDBC(commit, rollback을 Mybatis에서 자체적으로 관리)
    	 3-2) type : MANAGED(commit, rollback을 server(tomcat)에서 관리)
     -->
      <transactionManager type="JDBC"/>
      <!-- 4) DB Connection 생성
      	   4-1) type : POOLED(미리 객체를 생성하고 필요할 때 마다 사용할 수 있게끔 제공)
      	   4-2) type : UNPOOLED(요청이 들어올 때 객체를 생성)
       -->
      <dataSource type="POOLED">
      <!-- 5) DB Connection을 생성하기 위해 필요한 정보 기술 -->
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="hr"/>
        <property name="password" value="hr"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- SQL구문이 있는 mapper 파일 연결시킬 것 -->
  <mappers>
    <mapper resource="com/smhrd/db/MemberMapper.xml"/>
  </mappers>
</configuration>